<div class="container">
  <div class="card">
    
    <div class="content-row row">
      <div class="col-md-3 content-image">
        <img src="./assets/images/bg-heading-02.jpg" />
      </div>
      <div class="col-md-9 content-entry">
        <header>
            <h1>Registration Form</h1>
            <p>
                Please fill in the following form to register for dance competition.
            </p>
        </header>

        <registration-form></registration-form>



      </div>
      <!--.content-entry ends-->

    </div>
    <!--.content-row ends-->
  </div>
  <!--.card ends-->
</div>
<!--.container ends-->
